.hero {
    padding-bottom: 100px;
    &-container {
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 40px;
        position: relative;
    }
    &-content {
        width: 100%;
        max-width: 555px;
    }
    
    // &-image {
    //    position: absolute;
    //    top: 50%;
    //    transform: translate(40px, -50%);
    //    right: 0;
    // }
    &-heading {
        font-size: 50px;
        color: $heading-color;
        font-weight: 500;
        margin-bottom: 20px;
        line-height: calc(70 / 50);
    }
    &-desc{
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 1280px) {
    //đoạn này chỉ sử dụng trên máy điện thoại 1280
    .hero-image {
        position: absolute;
        top: 50%;
        transform: translate(40px, -50%);
        right: 0;
    } 
}

@media screen and (max-width: 1023px) {
   .hero-heading {
    font-size: 35px;
   }
   .hero {
    padding-bottom: 50px;
   }
}
@media screen and (max-width: 767.98px) {
.hero-container {
    flex-direction: column-reverse;
    gap: 50px 0;
}
.hero-desc {
    margin-bottom: 25px;
}
}
          